{%- comment -%}
  Set the default grid_item_width if no variable is set
{%- endcomment -%}
{%- unless grid_item_width -%}
  {%- assign grid_item_width = gridWidth -%}
{%- endunless -%}
{%- comment -%}
  Check if the product is sold out and set a variable to be used below.
{%- endcomment -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}
{%- comment -%}
  If product contains tag badge
{%- endcomment -%}
{%- assign has_badge_text = false -%}
{%- assign has_badge_color = false -%}
{%- assign badge_text = '' -%}
{%- assign badge_color = '' -%}
{%- for tag in product.tags -%}
  {%- if tag contains "badge-text" -%}
    {%- assign has_badge_text = true -%}
    {%- assign badge_text = tag | split: ':' | last -%}
  {%- endif -%}
  {%- if tag contains "badge-colour" or tag contains "badge-color" -%}
    {%- assign has_badge_color = true -%}
    {%- assign badge_color = tag | split: ':' | last -%}
  {%- endif -%}
{%- endfor -%}
{%- assign stock_counter = 0 -%}
{%- if sold_out == true -%}
  {%- assign has_badge_text = true -%}
  {%- assign badge_text = 'Sold Out' -%}
{%- else -%}
  {%- for variant in product.variants -%}

    {%- if variant.inventory_management == "shopify" and variant.inventory_policy != "continue" -%}
      {%- assign stock_counter = stock_counter | plus: variant.inventory_quantity -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign stock_level = settings.low_in_stock | plus: 0  -%}
  {%- if stock_counter != 0 and stock_counter <= stock_level -%}
    {%- assign has_badge_text = true -%}
    {%- assign badge_text = stock_counter | append: ' left in stock' -%}
  {%- endif -%}
{%- endif -%}


{% comment %}{% assign var_list ='' %}
{%- for option in product.options_with_values -%} 
{%- assign colors = option | where: 'name', 'Color' | map: 'values' -%}
{%- for value in colors[0] -%}
{% assign var_list = var_list | append: ',' | append: value %} 
{% endfor %}
{% endfor %}
{% assign pf_vars = var_list |  remove_first: ',' | split: ',' | uniq %}  
<script>console.log({{pf_vars | json }})</script>
{% endcomment %}

{% if product.available %}
<div class="product-item-coll">
<h3 class="h4 collection-grid-item__title">{{ product.title }}</h3>
<div class="collection-grid-item__match-height slider-parent {{ grid_item_width }} text-{{section.settings.product-text-alignment}}">
  
  
    {%- for option in product.options_with_values -%} 
    {%- assign colors = option | where: 'name', 'Color' | map: 'values' -%}
    {% unless colors.size == 0 %}
    {%- for value in colors[0] -%}
      {% assign prod = product.variants | where: 'option1', value | first %}
      <div class="slider-item">
        <div class="collection-grid-item ">
        <a href="{{ prod.url | within: collection }}" class="collection-grid-item__image-wrapper" title="Imag of {{ prod.title }}">
            {%- assign image_url = prod.featured_image.src | img_url: '380x' -%}
            {%- assign image_small = prod.featured_image.src | img_url: '50x' -%}
            <img 
            src="{{image_small}}"
            data-src="{{ image_url }}"
            alt="{{ prod.featured_image.alt | escape }}"  
            class="lazyload" />
        </a>
        <div class="collection-grid-item__text-wrapper">
          <h5>{{ value }}</h5>
          <a href="{{ prod.url }}" title="{{ prod.title }}">
            
            {%- if section.prod.show_excerpt -%}
              <p>{{prod.description | strip_html | truncatewords:30 }}</p>
            {%- endif -%}
            <p class="collection-grid-item__price">
              {%- if prod.compare_at_price > prod.price -%}
                {%- if prod.price_varies -%}
                  {%- assign sale_price = prod.price | money_without_trailing_zeros -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {%- else -%}
                  {{ 'products.product.on_sale' | t }}
                  {{ prod.price | money_without_trailing_zeros }}
                {%- endif -%}
              {%- else -%}
                {%- if prod.price_varies -%}
                  {%- assign price = prod.price | money_without_trailing_zeros -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {%- else -%}
                  {{ prod.price | money_without_trailing_zeros }}
                {%- endif -%}
              {%- endif -%}
            </p>
          </a>
        </div>

        </div>
      </div>
    {% endfor %}
    {% else%}
    {% assign prod = product.variants | first %}
    <div class="slider-item">
      <div class="collection-grid-item ">
      <a href="{{ prod.url | within: collection }}" class="collection-grid-item__image-wrapper" title="Imag of {{ prod.title }}">
          {%- assign image_url = prod.featured_image.src | img_url: '380x' -%}
          {%- assign image_small = prod.featured_image.src | img_url: '50x' -%}
          <img 
          src="{{image_small}}"
          data-src="{{ image_url }}"
          alt="{{ prod.featured_image.alt | escape }}"  
          class="lazyload" />
      </a>
      <div class="collection-grid-item__text-wrapper">
        <h5>{{ prod.options | first }}</h5>
        <a href="{{ prod.url }}" title="{{ prod.title }}">
          
          {%- if section.prod.show_excerpt -%}
            <p>{{prod.description | strip_html | truncatewords:30 }}</p>
          {%- endif -%}
          <p class="collection-grid-item__price">
            {%- if prod.compare_at_price > prod.price -%}
              {%- if prod.price_varies -%}
                {%- assign sale_price = prod.price | money_without_trailing_zeros -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {%- else -%}
                {{ 'products.product.on_sale' | t }}
                {{ prod.price | money_without_trailing_zeros }}
              {%- endif -%}
            {%- else -%}
              {%- if prod.price_varies -%}
                {%- assign price = prod.price | money_without_trailing_zeros -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {%- else -%}
                {{ prod.price | money_without_trailing_zeros }}
              {%- endif -%}
            {%- endif -%}
          </p>
        </a>
      </div>

      </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>
</div>
{% endif %}