
{% if type == 'seconds' %}
  {%- if product.compare_at_price_max > product.price -%}
    <div class="compare_at_price seconds_compare" data-compare-price>
      {%- if current_variant.compare_at_price > current_variant.price -%}
        {{ current_variant.compare_at_price | money_without_trailing_zeros }}
      {%- endif -%}
    </div>
    <div class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</div>
  {%- endif -%}
  <div data-product-price class="seconds_main_price">
    {% if current_variant %}
    {{ current_variant.price | money_without_trailing_zeros }}
    {% else %}
    {{ product.first_available_variant.price | money_without_trailing_zeros }}
    {% endif %}
  </div>
{% else %}
  <div data-product-price>
    {% if current_variant %}
    {{ current_variant.price | money_without_trailing_zeros }}
    {% else %}
    {{ product.first_available_variant.price | money_without_trailing_zeros }}
    {% endif %}
  </div>
  {%- if product.compare_at_price_max > product.price -%}
    <div class="compare_at_price" data-compare-price>
      {%- if current_variant.compare_at_price > current_variant.price -%}
        {{ current_variant.compare_at_price | money_without_trailing_zeros }}
      {%- endif -%}
    </div>
    <div class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</div>
  {%- endif -%}
{% endif %}