<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>

<section data-section-id="{{ section.id }}" id="timeline-content">

  <div class="timeline_sidebar_sections">
    <ul class="years">
      <li class="active"> <a href="#2014" class="h3">2014</a> </li>
      <li> <a href="#2015" class="h3">2015</a></li>
      <li> <a href="#2018" class="h3">2018</a></li>
      <li> <a href="#2019" class="h3">2019</a></li>
    </ul>
  </div>

  <script>
  $(document).ready(function($){

    $('.years li').click(function(){
      //event.preventDefault();
      event.stopPropagation();
      $(this).closest("ul").find(".active").removeClass("active");
      $(this).addClass("active");
    });

  });
  </script>

  <div class="wrapper">
    
    {% assign count = 0 %}
    {% for block in section.blocks %}

      {% assign count = count | plus: 1 %}
      {% assign sectionImage = block.settings.image-picker %}
      {% assign sectionLayout = block.settings.layout %}
      {% assign videoSectionUrlReady = block.settings.video %}

      {% capture image_layout %}
          {% if sectionImage != blank %}
            {% include 'responsive-image' with
              image: sectionImage,
              max_width: 920,
              max_height: 720
            %}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
      {% endcapture %}

      <div id="{{ block.settings.year }}" class="row_wrapper">

        <div class="row row-border-left page-width-timeline">

            <div class="text-wrap">
                <h2>{{ block.settings.year }}</h2>
                <h5> {{ block.settings.caption }} </h5>
            </div>

            <div class="video_wrap">
            {% unless  block.settings.image_position == true %}
              {% if sectionImage != blank %}
              <div id="modal-video" {% if videoSectionUrlReady != blank %}js-video-modal="trigger" js-video-target="#modal-{{ count }}"{% endif %} class="img-wrap play_text">
                {{ image_layout }}
              </div>
              {% endif %}
            {% endunless %}
          </div>
          

        </div> <!-- row -->


      {% if videoSectionUrlReady != blank %}
      {% assign videoSectionUrlReady = videoSectionUrlReady | split: "https://vimeo.com/" %}
      <div id="modal-{{ count }}" class="modal">
          <div class="modal__video" >
              {% if block.settings.video_eyebrow != blank %}
              <h4>{{ block.settings.video_eyebrow }}</h4>
              {% endif %}
              {% if block.settings.video_title != blank %}
              <h2>{{ block.settings.video_title }}</h2>
              {% endif %}

              <div class="modal_video-wrap-container">
                <div class="modal_video-wrap">
                  <iframe id="modal-video" src="https://player.vimeo.com/video/{{ videoSectionUrlReady[1] }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>

              <div class="modal__close modal__close--white" js-video-modal="close" js-video-target="#modal-{{sectionID}}">
                {% include 'icons' with icon: 'close' %}
              </div>

              {% if block.settings.video_copy != blank %}
              <div class="video-modal-copy">{{ block.settings.video_copy }}</div>
              {% endif %}
              {% if block.settings.button_text %}
              <a href="{{ block.settings.button_text }}" class="button button--black">{{ block.settings.button_link }}</a>
              {% endif %}
          </div><!-- modal__video -->
      </div><!-- #modal-{count} -->
      {% endif %}

      </div><!-- row_wrapper -->

    {% endfor %}

  </div> <!-- wrapper -->

</section>



{% schema %}
  {
    "name": "Timeline Content",
    "blocks": [
      {
        "type": "select",
        "name": "Year Block",
        "settings": [
          {
            "id": "year",
            "type": "text",
            "label": "Year"
          },
          {
            "id": "caption",
            "type": "text",
            "label": "Year's caption",
            "default": "Hello World"
          },
          {
            "id": "image-picker",
            "type": "image_picker",
            "label": "Background Image"
          },
          {
            "id": "video",
            "type": "textarea",
            "label": "Video embed"
          },
          {
            "id": "video_eyebrow",
            "type": "text",
            "label": "Video Eyebrow Text"
          },
          {
            "id": "video_title",
            "type": "text",
            "label": "Video Title"
          },
          {
            "id": "video_copy",
            "type": "textarea",
            "label": "Copy for video modal"
          },
          {
            "id": "button_link",
            "type": "text",
            "label": "Button Text"
          },
          {
            "id": "button_text",
            "type": "url",
            "label": "Button Link"
          }
        ]
      }
    ],
  "presets": [
    {
        "name": "Timeline Content",
        "category": "Performance Page",
        "blocks": [
          { 
            "type": "select"
          }
        ]
    }
  ]
  }
{% endschema %}